a, button {
    height: clamp(2.375rem, 4vw, 3rem);
    font-size: clamp(0.8rem, 1.5vw , 1rem);

    &.sm {
        padding: 0 1rem;
        height: clamp(2rem, 6vw , 2.5rem);
        font-size: 0.8rem;
    }
}

.btn-primary {
    width: 100%;
    padding: 0px 1.3959rem;
    border-radius: 4px;
    background: var(--color-primary);
    transition: .4s;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6345rem;

    &:hover {
        filter: brightness(1.1);
    }

    &:disabled {
        background-color: var(--color-primary-negative);

        &:hover {
            background-color: var(--color-gray-1);
        }
    }

    &.gray {
        background-color: var(--color-gray-1);

        &:hover {
            filter: brightness(1.1);
        }
    }
}

.btn-dark {
    padding: 0px 1.3959rem;
    border-radius: 4px;
    background: var(--color-gray-3);
    transition: .4s;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6345rem;

    &:hover {
        background-color: var(--color-gray-2);
    }
}
